 <div class="header-content">
    <a href="/" class="logo">
        <div class="logo-icon">L&gt;</div>
        LuCLI
    </a>
    <nav class="header-nav">
        <nav class="header-nav">
            <a href="/#what" class="nav-link">What it is</a>
            <a href="/#capabilities" class="nav-link">Capabilities</a>
            <a href="/#getting-started" class="nav-link">Get started</a>
            <a href="/download" class="nav-link">Download</a>
            <a href="../docs/index.html" class="nav-link">Documentation</a>
            <a href="https://github.com/cybersonic/LuCLI" class="nav-link" target="_blank">GitHub</a>
        </nav>
    </nav>
    <button class="theme-toggle" onclick="toggleTheme()">🌙</button>
</div>